Repository dsm23/dsm23-portfolios-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: turbo run lint:lint-staged --, prettier --check

chore(strict mode): add strict mode to next-portfolio
  apps/next-portfolio/next.config.ts
Due: turbo run lint:lint-staged --, prettier --check

chore(stylelint): add stylelint in next-portfolio
  .lintstagedrc
  .npmrc
  apps/next-portfolio/.stylelintcache
  apps/next-portfolio/.stylelintignore
  apps/next-portfolio/package.json
  apps/next-portfolio/src/app/global.css
  apps/next-portfolio/src/app/todos/atoms/footer/styles.module.css
  apps/next-portfolio/src/app/todos/atoms/main/styles.module.css
  apps/next-portfolio/src/app/todos/atoms/todo-item/styles.module.css
  apps/next-portfolio/src/app/todos/atoms/todo-text-input/styles.module.css
  apps/next-portfolio/src/app/todos/styles.module.css
  apps/next-portfolio/stylelint.config.js
  packages/config-stylelint/package.json
  packages/config-stylelint/stylelint.config.ts
  packages/config-stylelint/tsconfig.json
  pnpm-lock.yaml
  turbo.json
Due: turbo run lint:lint-staged --, prettier --check

chore(eslint): update eslint in next-portfolio to use flat config
  apps/next-portfolio/.eslintrc.json
  apps/next-portfolio/eslint.config.mjs
  apps/next-portfolio/package.json
  apps/next-portfolio/src/app/skill/[skill]/loading.tsx
  apps/next-portfolio/src/app/todos/atoms/footer/Footer.spec.tsx
  apps/next-portfolio/src/app/todos/atoms/link/Link.spec.tsx
  apps/next-portfolio/src/app/todos/atoms/todo-item/TodoItem.spec.tsx
  apps/next-portfolio/src/app/todos/atoms/todo-text-input/TodoTextInput.spec.tsx
  apps/next-portfolio/src/components/divisor/index.tsx
  apps/next-portfolio/src/components/sections/projects/index.tsx
  packages/config-stylelint/tsconfig.json
  pnpm-lock.yaml
Due: turbo run lint:lint-staged --, prettier --check

chore(turborepo): update turborepo version
  apps/next-portfolio/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --check

chore(type module): type module in next-portfolio
  apps/next-portfolio/eslint.config.js
  apps/next-portfolio/package.json
  apps/next-portfolio/postcss.config.js
Due: turbo run lint:lint-staged --, prettier --check

test(jest config): update jest config
  .github/workflows/check.yml
  .gitignore
  apps/next-portfolio/jest.config.ts
  apps/next-portfolio/package.json
Due: turbo run lint:lint-staged --, prettier --check

ci(analyze bundle): add analyze bundle size in next-portfolio
  .github/workflows/nextjs_bundle_analysis.yml
  .mergify.yml
  apps/next-portfolio/env.js
  apps/next-portfolio/next.config.ts
  apps/next-portfolio/package.json
  apps/next-portfolio/scripts/report-bundle-size.js
  pnpm-lock.yaml
Due: turbo run lint:lint-staged --, prettier --check

chore(gitignore): add cache files to .gitignore
  .github/workflows/nextjs_bundle_analysis.yml
  .gitignore
  apps/next-portfolio/.stylelintcache
Due: prettier --check

feat(projects): simplify projects section
  .github/workflows/nextjs_bundle_analysis.yml
  apps/next-portfolio/package.json
  apps/next-portfolio/src/components/sections/projects/index.tsx
  apps/next-portfolio/src/components/svgs/help/index.tsx
  apps/next-portfolio/src/components/svgs/nav-right/index.tsx
  packages/shared-styles/src/sections/index.ts
  packages/shared-styles/src/sections/projects/index.ts
  packages/shared-styles/src/sections/projects/styles.module.css
  pnpm-lock.yaml
Due: turbo run lint:lint-staged --, prettier --check

test(components, utils): add basic units
  apps/next-portfolio/src/components/anchor/test.tsx
  apps/next-portfolio/src/components/main/test.tsx
  apps/next-portfolio/src/components/svgs/arrow-down-tray/test.tsx
  apps/next-portfolio/src/utils/internal/test.ts
  apps/next-portfolio/src/utils/sleep/test.ts
Due: turbo run lint:lint-staged --, prettier --check

chore(deps): update third-party dependencies
  apps/next-portfolio/package.json
  packages/config-stylelint/package.json
  packages/generated/package.json
  packages/shared-styles/package.json
  pnpm-lock.yaml
Due: prettier --check

refactor(jest): switch to @jest/globals
  apps/next-portfolio/jest.setup.js
  apps/next-portfolio/package.json
  apps/next-portfolio/src/app/project/date/[date]/spec.ts
  apps/next-portfolio/src/app/project/todos/atoms/footer/Footer.spec.tsx
  apps/next-portfolio/src/app/project/todos/atoms/header/Header.spec.tsx
  apps/next-portfolio/src/app/project/todos/atoms/link/Link.spec.tsx
  apps/next-portfolio/src/app/project/todos/atoms/main/MainSection.spec.tsx
  apps/next-portfolio/src/app/project/todos/atoms/todo-item/TodoItem.spec.tsx
  apps/next-portfolio/src/app/project/todos/atoms/todo-list/TodoList.spec.tsx
  apps/next-portfolio/src/app/project/todos/atoms/todo-text-input/TodoTextInput.spec.tsx
  apps/next-portfolio/src/components/anchor/test.tsx
  apps/next-portfolio/src/components/main/test.tsx
  apps/next-portfolio/src/components/svgs/arrow-down-tray/test.tsx
  apps/next-portfolio/src/utils/format-years/spec.ts
  apps/next-portfolio/src/utils/internal/test.ts
  apps/next-portfolio/src/utils/sleep/test.ts
  apps/next-portfolio/tsconfig.json
  pnpm-lock.yaml
Due: turbo run lint:lint-staged --, prettier --check

feat(dark mode): update dark mode toggle
  apps/next-portfolio/src/components/dark-mode-toggle/index.tsx
  apps/next-portfolio/src/components/svgs/laptop/index.tsx
Due: turbo run lint:lint-staged --, prettier --check

feat(vercel-badge): add vercel badge
  apps/next-portfolio/package.json
  apps/next-portfolio/src/app/project/vercel-badge/badge.tsx
  apps/next-portfolio/src/app/project/vercel-badge/band.tsx
  apps/next-portfolio/src/app/project/vercel-badge/page.tsx
  apps/next-portfolio/src/app/project/vercel-badge/three.d.ts
  apps/next-portfolio/src/components/sections/projects/index.tsx
  pnpm-lock.yaml
Due: turbo run lint:lint-staged --, prettier --check

test(svg tests): add more small it renders tests
  apps/next-portfolio/src/components/card/test.tsx
  apps/next-portfolio/src/components/label/test.tsx
  apps/next-portfolio/src/components/svgs/arrow-top-right-on-square/test.tsx
  apps/next-portfolio/src/components/svgs/calendar-days/test.tsx
  apps/next-portfolio/src/components/svgs/chevron-left/test.tsx
  apps/next-portfolio/src/components/svgs/chevron-right/test.tsx
  apps/next-portfolio/src/components/svgs/code-sandbox/test.tsx
  apps/next-portfolio/src/components/svgs/drag-handle/test.tsx
  apps/next-portfolio/src/components/svgs/empty-star/test.tsx
  apps/next-portfolio/src/components/svgs/filled-star/test.tsx
  apps/next-portfolio/src/components/svgs/gatsby/test.tsx
  apps/next-portfolio/src/components/svgs/github/test.tsx
  apps/next-portfolio/src/components/svgs/go-back/test.tsx
  apps/next-portfolio/src/components/svgs/laptop/test.tsx
  apps/next-portfolio/src/components/svgs/magnifying-glass/test.tsx
  apps/next-portfolio/src/components/svgs/moon/test.tsx
  apps/next-portfolio/src/components/svgs/next/test.tsx
  apps/next-portfolio/src/components/svgs/nuxt/test.tsx
  apps/next-portfolio/src/components/svgs/qwik/test.tsx
  apps/next-portfolio/src/components/svgs/solid/test.tsx
  apps/next-portfolio/src/components/svgs/sun/test.tsx
  apps/next-portfolio/src/components/svgs/three-dots/test.tsx
  apps/next-portfolio/src/components/textarea/test.tsx
Due: turbo run lint:lint-staged --, prettier --check

chore(elementref): rename deprecated type ElementRef to ComponentRef
  apps/next-portfolio/src/components/form/index.tsx
  apps/next-portfolio/src/components/label/index.tsx
Due: turbo run lint:lint-staged --, prettier --check

chore(.czrc): disable enforcement of lower case in .czrc
  .czrc
Due: none

chore(view-source): update view-source
  apps/next-portfolio/src/app/project/animal-farm/page.tsx
  apps/next-portfolio/src/app/project/clock/page.tsx
  apps/next-portfolio/src/app/project/date/page.tsx
  apps/next-portfolio/src/app/project/divisibles/page.tsx
  apps/next-portfolio/src/app/project/drag-and-resize/page.tsx
  apps/next-portfolio/src/app/project/fizz-buzz/page.tsx
  apps/next-portfolio/src/app/project/mathml/page.tsx
  apps/next-portfolio/src/app/project/noughts-and-crosses/page.tsx
  apps/next-portfolio/src/app/project/pie-chart/page.tsx
  apps/next-portfolio/src/app/project/simple-form/page.tsx
  apps/next-portfolio/src/app/project/todos/page.tsx
  apps/next-portfolio/src/app/project/vercel-badge/page.tsx
  apps/next-portfolio/src/app/skill/[skill]/loading.tsx
  apps/next-portfolio/src/app/skill/[skill]/page.tsx
  apps/next-portfolio/src/components/view-source/index.tsx
  packages/shared-styles/src/view-source/styles.module.css
Due: turbo run lint:lint-staged --, prettier --check

chore(gitattributes): add .gitattributes
  .gitattributes
Due: none

feat(progress bar): add navigation progress bar
  apps/next-portfolio/package.json
  apps/next-portfolio/src/app/layout.tsx
  apps/next-portfolio/src/app/project/date/page.tsx
  apps/next-portfolio/src/components/nav/index.tsx
  apps/next-portfolio/src/components/progress-bar/format-url.ts
  apps/next-portfolio/src/components/progress-bar/index.tsx
  apps/next-portfolio/src/components/progress-bar/next.tsx
  apps/next-portfolio/src/components/sections/projects/index.tsx
  apps/next-portfolio/src/components/sections/skills/index.tsx
  apps/next-portfolio/src/components/styled-go-back/index.tsx
  pnpm-lock.yaml
Due: turbo run lint:lint-staged --, prettier --check

chore(motion): update framer-motion to motion
  apps/next-portfolio/package.json
  apps/next-portfolio/src/app/project/todos/atoms/main/index.tsx
  apps/next-portfolio/src/app/project/todos/atoms/todo-list/index.tsx
  apps/next-portfolio/src/components/progress-bar/index.tsx
  pnpm-lock.yaml
Due: turbo run lint:lint-staged --, prettier --check

chore(react-day-picker): update react-day-picker to v9
  apps/next-portfolio/package.json
  apps/next-portfolio/src/app/project/simple-form/calendar/index.tsx
  pnpm-lock.yaml
Due: turbo run lint:lint-staged --, prettier --check

feat(chat-app): add chat-app-server
  apps/chat-app-server/.gitignore
  apps/chat-app-server/package.json
  apps/chat-app-server/prettier.config.js
  apps/chat-app-server/src/api-docs/openApiDocumentGenerator.ts
  apps/chat-app-server/src/api-docs/openApiResponseBuilders.ts
  apps/chat-app-server/src/api-docs/openApiRouter.ts
  apps/chat-app-server/src/common/models/serviceResponse.ts
  apps/chat-app-server/src/common/utils/commonValidation.ts
  apps/chat-app-server/src/common/utils/envConfig.ts
  apps/chat-app-server/src/common/utils/httpHandlers.ts
  apps/chat-app-server/src/controllers/auth.ts
  apps/chat-app-server/src/controllers/channel.ts
  apps/chat-app-server/src/controllers/contacts.ts
  apps/chat-app-server/src/controllers/messages.ts
  apps/chat-app-server/src/index.ts
  apps/chat-app-server/src/middlewares/auth.ts
  apps/chat-app-server/src/middlewares/errorHandler.ts
  apps/chat-app-server/src/middlewares/rateLimiter.ts
  apps/chat-app-server/src/middlewares/requestLogger.ts
  apps/chat-app-server/src/model/channel.ts
  apps/chat-app-server/src/model/messages.ts
  apps/chat-app-server/src/model/user.ts
  apps/chat-app-server/src/routes/auth.ts
  apps/chat-app-server/src/routes/channel.ts
  apps/chat-app-server/src/routes/contact.ts
  apps/chat-app-server/src/routes/healthCheck.ts
  apps/chat-app-server/src/routes/messages.ts
  apps/chat-app-server/src/socket.ts
  apps/chat-app-server/src/uploads/profiles/1719039402486login-removebg-preview.png
  apps/chat-app-server/tsconfig.json
  apps/chat-app-server/tsup.config.ts
  compose.yml
  package.json
  pnpm-lock.yaml
  portfolios/next-portfolio/package.json
  portfolios/remix-portfolio/package.json
  prettier.config.js
Due: turbo run lint:lint-staged --, prettier --check

feat(templates): add templates section
  .github/codeql/codeql-config.yml
  .github/workflows/codeql.yml
  portfolios/next-portfolio/src/app/page.tsx
  portfolios/next-portfolio/src/components/card-hover-effect/index.tsx
  portfolios/next-portfolio/src/components/layout/index.tsx
  portfolios/next-portfolio/src/components/sections/index.ts
  portfolios/next-portfolio/src/components/sections/templates/index.tsx
Due: turbo run lint:lint-staged --, prettier --check

fix(email): fix email hyperlink href
  portfolios/next-portfolio/src/components/sections/home/index.tsx
Due: turbo run lint:lint-staged --, prettier --check

feat(contact form): add contact form
  pnpm-lock.yaml
  portfolios/next-portfolio/package.json
  portfolios/next-portfolio/src/app/layout.tsx
  portfolios/next-portfolio/src/components/contact-form/action.ts
  portfolios/next-portfolio/src/components/contact-form/email.tsx
  portfolios/next-portfolio/src/components/contact-form/index.tsx
Due: turbo run lint:lint-staged --, prettier --check

ci(zizmor): add zizmor
  .github/workflows/zizmor.yml
  .mergify.yml
Due: prettier --check

chore(TypeScript): better enforce TypeScript
  packages/config-typescript/base.json
  packages/config-typescript/nextjs.json
  pnpm-lock.yaml
  portfolios/next-portfolio/jest.config.ts
  portfolios/next-portfolio/next.config.ts
  portfolios/next-portfolio/package.json
  portfolios/next-portfolio/src/app/page.tsx
  portfolios/next-portfolio/src/app/project/animal-farm/animals.tsx
  portfolios/next-portfolio/src/app/project/divisibles/page.tsx
  portfolios/next-portfolio/src/app/project/noughts-and-crosses/game.tsx
  portfolios/next-portfolio/src/app/project/simple-form/date-picker/index.tsx
  portfolios/next-portfolio/src/app/project/simple-form/page.tsx
  portfolios/next-portfolio/src/app/project/simple-form/popover/index.tsx
  portfolios/next-portfolio/src/app/project/todos/atoms/footer/Footer.spec.tsx
  portfolios/next-portfolio/src/app/project/todos/atoms/footer/index.tsx
  portfolios/next-portfolio/src/app/project/todos/atoms/link/Link.spec.tsx
  portfolios/next-portfolio/src/app/project/todos/atoms/link/index.tsx
  portfolios/next-portfolio/src/app/project/todos/atoms/main/MainSection.spec.tsx
  portfolios/next-portfolio/src/app/project/todos/atoms/todo-item/index.tsx
  portfolios/next-portfolio/src/app/project/todos/atoms/todo-list/TodoList.spec.tsx
  portfolios/next-portfolio/src/app/project/todos/atoms/todo-text-input/TodoTextInput.spec.tsx
  portfolios/next-portfolio/src/app/project/todos/atoms/todo-text-input/index.tsx
  portfolios/next-portfolio/src/app/skill/[skill]/page.tsx
  portfolios/next-portfolio/src/components/anchor/index.tsx
  portfolios/next-portfolio/src/components/contact-form/email.tsx
  portfolios/next-portfolio/src/components/contact-form/index.tsx
  portfolios/next-portfolio/src/components/form/index.tsx
  portfolios/next-portfolio/src/components/hamburger/index.tsx
  portfolios/next-portfolio/src/components/layout/index.tsx
  portfolios/next-portfolio/src/components/main/index.tsx
  portfolios/next-portfolio/src/components/nav/index.tsx
  portfolios/next-portfolio/src/components/section-header/index.tsx
  portfolios/next-portfolio/src/env.d.ts
  portfolios/next-portfolio/src/lib/features/todos/slice.ts
  portfolios/next-portfolio/src/lib/features/visibility-filter/slice.ts
  portfolios/next-portfolio/src/test-utils/index.tsx
  portfolios/next-portfolio/tailwind.config.ts
Due: turbo run lint:lint-staged --, prettier --check

feat(parkrun): add parkrun CRUD app to projects
  portfolios/next-portfolio/src/components/sections/projects/index.tsx
Due: turbo run lint:lint-staged --, prettier --check

chore(deps): update third-party dependencies
  apps/chat-app-server/package.json
  package.json
  packages/config-stylelint/package.json
  packages/generated/package.json
  packages/shared-styles/package.json
  pnpm-lock.yaml
  portfolios/next-portfolio/next-env.d.ts
  portfolios/next-portfolio/package.json
  portfolios/remix-portfolio/package.json
Due: turbo run lint:lint-staged --, prettier --check

ci(renovate): add renovate config
  renovate.json
Due: prettier --check

ci(mergify): switch bot author to renovate
  .mergify.yml
Due: prettier --check

chore(deps): update third-party dependencies
  pnpm-lock.yaml
  portfolios/next-portfolio/package.json
  portfolios/next-portfolio/src/components/contact-form/action.ts
Due: turbo run lint:lint-staged --, prettier --check

chore(react-router): convert remix-portfolio to use react-router v7
  pnpm-lock.yaml
  portfolios/next-portfolio/package.json
  portfolios/remix-portfolio/.gitignore
  portfolios/remix-portfolio/app/entry.client.tsx
  portfolios/remix-portfolio/app/entry.server.tsx
  portfolios/remix-portfolio/app/root.tsx
  portfolios/remix-portfolio/app/routes.ts
  portfolios/remix-portfolio/app/routes/home.tsx
  portfolios/remix-portfolio/package.json
  portfolios/remix-portfolio/react-router.config.ts
  portfolios/remix-portfolio/tsconfig.json
  portfolios/remix-portfolio/vite.config.ts
Due: turbo run lint:lint-staged --, prettier --check

chore(eslint): update eslint to v9 in remix-portfolio
  pnpm-lock.yaml
  portfolios/remix-portfolio/.eslintrc.cjs
  portfolios/remix-portfolio/eslint.config.js
  portfolios/remix-portfolio/package.json
Due: turbo run lint:lint-staged --, prettier --check

ci(ubuntu): fix ubuntu versions in GitHub actions
  .github/workflows/check.yml
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/gitleaks.yml
  .github/workflows/nextjs_bundle_analysis.yml
  .github/workflows/playwright.yml
  .github/workflows/zizmor.yml
Due: prettier --check

chore(img): update imh website url
  portfolios/next-portfolio/src/components/sections/projects/index.tsx
Due: turbo run lint:lint-staged --, prettier --check

Path conditions:
  turbo run lint:lint-staged --: any of: **/*.{js,mjs,ts,tsx}
  prettier --check: (any of: **/*.{js,mjs,ts,tsx}) or (any of: **/*.{css,,md,mdx,json,yml})
