Repository dsm23/dsm23-portfolios-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: turbo run lint:lint-staged --, prettier --check, stylelint --allow-empty-input

.lintstagedrc:

{
  "**/*.{js,mjs,ts,tsx}": ["turbo run lint:lint-staged --", "prettier --check"],
  "**/*.css": ["stylelint --allow-empty-input", "prettier --check"],
  "**/*.{md,mdx,json,yml}": ["prettier --check"]
}

ci(renovate): update renovate config
  renovate.json
Due: prettier --check

ci(mkdirp): remove mkdirp in favour of built-in APIs
  .github/workflows/nextjs_bundle_analysis.yml
  pnpm-lock.yaml
  portfolios/next-portfolio/package.json
  portfolios/next-portfolio/scripts/reportBundleSize.js
Due: turbo run lint:lint-staged --, prettier --check

ci(bundle analysis): edit bundlesize comment
  .github/workflows/nextjs_bundle_analysis.yml
Due: prettier --check

ci(format): add format pipeline
  .github/workflows/format.yml
  .mergify.yml
Due: prettier --check

ci(renovate): update config to rebase on patch
  renovate.json
Due: prettier --check

ci(pr-title): add pr-title pipeline
  .github/workflows/pr-title.yml
  .mergify.yml
Due: prettier --check

chore(deps): update nodejs v24.x.x
  .nvmrc
  packages/generated/package.json
  packages/shared-styles/package.json
  pnpm-lock.yaml
  portfolios/next-portfolio/package.json
Due: prettier --check

ci(renovate): add config check pipeline
  .github/actions/setup/action.yml
  .github/workflows/renovate.yml
  .mergify.yml
Due: prettier --check

chore(deps): update prettier packages
  apps/chat-app-server/package.json
  package.json
  packages/shared-styles/src/tooltip/styles.module.css
  pnpm-lock.yaml
  portfolios/next-portfolio/package.json
  portfolios/remix-portfolio/package.json
Due: prettier --check, stylelint --allow-empty-input

chore(deps): update stylelint packages
  packages/config-stylelint/package.json
  packages/config-stylelint/stylelint.config.ts
  pnpm-lock.yaml
  portfolios/next-portfolio/src/app/project/todos/atoms/footer/styles.module.css
  portfolios/next-portfolio/src/app/project/todos/atoms/main/styles.module.css
  portfolios/next-portfolio/src/app/project/todos/atoms/todo-item/styles.module.css
  portfolios/next-portfolio/src/app/project/todos/atoms/todo-text-input/styles.module.css
  portfolios/next-portfolio/src/app/project/todos/styles.module.css
Due: turbo run lint:lint-staged --, prettier --check, stylelint --allow-empty-input

ci(mergify): add autodelete branch after merge to config
  .mergify.yml
Due: prettier --check

ci(format): use updated node setup pattern
  .github/workflows/format.yml
Due: prettier --check

fix(deps): update dependency zod to v4
  apps/chat-app-server/package.json
  pnpm-lock.yaml
  portfolios/next-portfolio/package.json
  portfolios/next-portfolio/src/utils/schema/index.ts
Due: turbo run lint:lint-staged --, prettier --check

chore(pnpm): pin pnpm version to checksum digest
  package.json
Due: prettier --check

chore(turbo): add ui tui setting
  turbo.json
Due: prettier --check

ci(deps-review): update pattern
  .github/workflows/dependency-review.yml
Due: prettier --check

ci(codeql): add actions check
  .github/workflows/codeql.yml
Due: prettier --check

ci(gitleaks): update patterns
  .github/workflows/gitleaks.yml
Due: prettier --check

ci(zizmor): add permissions
  .github/workflows/zizmor.yml
Due: prettier --check

ci(playwright): update playwright pipeline pattern
  .github/workflows/playwright.yml
  .mergify.yml
Due: prettier --check

ci(format): remove duplicate pnpm install
  .github/workflows/format.yml
Due: prettier --check

ci(openssf): add scorecard
  .github/workflows/scorecard.yml
Due: prettier --check

ci(renovate): add security presets to config
  renovate.json
Due: prettier --check

chore(deps): update dependency typescript to v5.9.3
  apps/chat-app-server/package.json
  apps/chat-app-server/prettier.config.js
  package.json
  packages/generated/package.json
  packages/shared-styles/package.json
  pnpm-lock.yaml
  portfolios/next-portfolio/next-env.d.ts
  portfolios/next-portfolio/package.json
  portfolios/next-portfolio/prettier.config.js
  portfolios/next-portfolio/src/app/api/create-pdf/route.ts
  portfolios/remix-portfolio/package.json
  portfolios/remix-portfolio/prettier.config.js
Due: turbo run lint:lint-staged --, prettier --check

ci(mergify): use or operator for renovate/stability-days
  .mergify.yml
Due: prettier --check

ci(renovate): use config:best-practices
  renovate.json
Due: prettier --check

chore(deps): update next.js to v16
  .github/workflows/nextjs_bundle_analysis.yml
  .gitignore
  .mergify.yml
  pnpm-lock.yaml
  portfolios/next-portfolio/env.js
  portfolios/next-portfolio/eslint.config.js
  portfolios/next-portfolio/next-env.d.ts
  portfolios/next-portfolio/next.config.ts
  portfolios/next-portfolio/package.json
  portfolios/next-portfolio/scripts/reportBundleSize.js
  portfolios/next-portfolio/src/app/api/revalidate/route.ts
Due: turbo run lint:lint-staged --, prettier --check

chore(deps): update some npm dependencies
  apps/chat-app-server/package.json
  package.json
  packages/config-stylelint/package.json
  pnpm-lock.yaml
  portfolios/next-portfolio/package.json
  portfolios/next-portfolio/turbo.json
  portfolios/next-portfolio/vitest.config.ts
  portfolios/remix-portfolio/package.json
  turbo.json
Due: turbo run lint:lint-staged --, prettier --check

chore(deps): update js unit test packages to v4
  pnpm-lock.yaml
  portfolios/next-portfolio/package.json
  portfolios/next-portfolio/vitest.config.ts
Due: turbo run lint:lint-staged --, prettier --check

fix(deps): update dependency motion to v12.23.24
  pnpm-lock.yaml
  portfolios/next-portfolio/package.json
  portfolios/next-portfolio/src/components/contact-form/index.tsx
Due: turbo run lint:lint-staged --, prettier --check

chore(deps): remove husky from next-portfolio
  pnpm-lock.yaml
  portfolios/next-portfolio/package.json
Due: prettier --check

chore(deps): update dependency eslint-plugin-react-hooks to v7
  pnpm-lock.yaml
  portfolios/next-portfolio/eslint.config.js
  portfolios/next-portfolio/package.json
  portfolios/remix-portfolio/package.json
Due: turbo run lint:lint-staged --, prettier --check

chore(deps): update dependency prettier to v3.7.1
  apps/chat-app-server/package.json
  package.json
  pnpm-lock.yaml
  portfolios/next-portfolio/src/app/project/clock/opengraph-image.tsx
  portfolios/next-portfolio/src/app/project/divisibles/opengraph-image.tsx
  portfolios/next-portfolio/src/app/project/fizz-buzz/opengraph-image.tsx
  portfolios/next-portfolio/src/app/project/mathml/opengraph-image.tsx
  portfolios/next-portfolio/src/app/project/noughts-and-crosses/opengraph-image.tsx
  portfolios/next-portfolio/src/app/project/pie-chart/opengraph-image.tsx
  portfolios/next-portfolio/src/app/project/simple-form/opengraph-image.tsx
  portfolios/next-portfolio/src/components/button/index.tsx
Due: turbo run lint:lint-staged --, prettier --check

chore(deps): update npm dependencies
  apps/chat-app-server/package.json
  package.json
  packages/config-stylelint/package.json
  pnpm-lock.yaml
  portfolios/next-portfolio/package.json
  portfolios/next-portfolio/src/app/project/simple-form/page.tsx
  portfolios/remix-portfolio/package.json
Due: turbo run lint:lint-staged --, prettier --check

ci(renovate): add minimum 3 days release on all updates
  renovate.json
Due: prettier --check

ci(renovate): remove docker datasource minimumReleaseAge
  renovate.json
Due: prettier --check

ci(renovate): run renovate check through docker instead of pnpm
  .github/workflows/renovate.yml
Due: prettier --check

ci(ubuntu): return to ubuntu-latest
  .github/workflows/check.yml
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/format.yml
  .github/workflows/gitleaks.yml
  .github/workflows/playwright.yml
  .github/workflows/pr-title.yml
  .github/workflows/renovate.yml
  .github/workflows/zizmor.yml
Due: prettier --check

ci(mergify): upgrade configuration to current format
  .mergify.yml
Due: prettier --check
